@charset "UTF-8";
/* FOOTER */
.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 0.8rem;
  background-image: url(../images/background-img/mistnostDve.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-color: rgb(166, 100, 15);
  color: rgb(240, 226, 207);
}

.footer__hr {
  width: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(240, 226, 207);
}
@media screen and (min-width: 1000px) {
  .footer__hr {
    display: none;
  }
}

.footer__wrapper {
  background-color: rgba(95, 61, 11, 0.9);
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 1500px;
}
@media screen and (min-width: 1000px) {
  .footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 15px;
         column-gap: 15px;
    text-align: left;
    padding-left: 30px;
  }
}

@media screen and (min-width: 1000px) {
  .footer__opening {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

@media screen and (min-width: 600px) {
  .footer__location {
    flex-basis: 33.3333333333%;
  }
}
@media screen and (min-width: 1000px) {
  .footer__location {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}

@media screen and (min-width: 1000px) {
  .footer__location-link {
    display: none;
  }
}

.footer__location-map {
  display: none;
}
@media screen and (min-width: 1000px) {
  .footer__location-map {
    display: inline-block;
    width: 90%;
    height: 95%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    grid-column: 2/3;
    grid-row: 1/6;
  }
}

@media screen and (min-width: 1000px) {
  .footer__contact {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-content: left;
    align-items: left;
  }
}

@media screen and (min-width: 430px) {
  .footer__contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1000px) {
  .footer__contact-wrapper {
    justify-content: left;
  }
}

.footer__contact-tel {
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgb(240, 226, 207);
}
@media screen and (min-width: 430px) {
  .footer__contact-tel {
    border-right: 2px solid rgb(240, 226, 207);
    margin-right: 6px;
    padding-right: 6px;
  }
}

.footer__contact-mail {
  margin-top: 0px;
  margin-bottom: 0px;
} /* margin top pro mobil a a href pro email */
@media screen and (min-width: 600px) {
  .footer__payment {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1000px) {
  .footer__payment {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-content: left;
  }
}

@media screen and (min-width: 600px) {
  .footer__payment-type {
    margin-left: 20px;
  }
}

.footer__media {
  display: flex;
  justify-content: center;
  margin-top: -10px;
}
@media screen and (min-width: 1000px) {
  .footer__media {
    justify-content: left;
    margin-top: auto;
  }
}

.footer__media a {
  margin-left: 10px;
}

.footer__location-link {
  color: rgb(240, 226, 207);
}

.footer__copyright {
  margin-top: 20px;
}
@media screen and (min-width: 1000px) {
  .footer__copyright {
    grid-column: 1/3;
    display: inline-block;
    background-color: rgba(95, 61, 11, 0.9);
    text-align: center;
    padding: 5px;
  }
}

.footer__link {
  text-decoration: none;
  color: rgb(240, 226, 207);
}

*, :after, :before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(240, 226, 207);
  color: rgb(79, 25, 11);
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  text-align: center;
}

.footer {
  background-color: rgb(166, 100, 15);
  color: rgb(240, 226, 207);
}

main {
  padding: 40px 15px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

main > div,
main > section {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

section a,
a {
  color: rgb(79, 25, 11);
}

.menu__item.active {
  background-color: rgb(131, 86, 29);
}

.menu__link.active {
  color: rgb(240, 226, 207);
}

/* HEADER */
header {
  background-image: url(../images/background-img/IMG_0430up.jpg); /*nastavit fotky pro breakpointy*/
  height: 350px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
@media screen and (min-width: 451px) {
  header {
    background-image: url(../images/background-img/IMG_0430up.jpg);
  }
}

.header__wrapper {
  padding: 80px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100px;
}

.header__name {
  display: flex;
  justify-content: right;
  align-items: center;
}

.header__name-text {
  text-align: right;
  color: rgb(240, 226, 207);
  margin-right: 10px;
  font-size: 1.5rem;
}
@media screen and (min-width: 1000px) {
  .header__name-text {
    font-size: 1.8rem;
  }
}

.header__name-logo {
  width: 23%;
}

.header__menu {
  position: relative;
  left: 0%;
  top: 0%;
  z-index: 2;
  height: 30px;
  opacity: 0.95;
}

.menu__header {
  color: rgb(240, 226, 207);
  margin-bottom: 0;
  margin-left: -2px;
  font-size: 1rem;
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
}

.menu__toggler {
  position: -webkit-sticky;
  position: sticky;
  cursor: pointer;
  z-index: 1;
}
@media screen and (min-width: 1000px) {
  .menu__toggler {
    display: none;
  }
}

.menu__bars {
  margin-top: -4px;
}

.bar {
  display: block;
  width: 40px;
  height: 5px;
  background-color: rgb(240, 226, 207);
  border-radius: 10%;
}

.bar:nth-child(2) {
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu__list {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: rgb(240, 226, 207);
  transition-duration: 0.25s;
  overflow: auto;
}
@media screen and (min-width: 1000px) {
  .menu__list {
    display: flex !important;
    position: absolute;
    background-color: transparent;
    height: auto;
    transform: translate(-2%, -45%);
  }
}

.menu__item:nth-child(1) {
  margin-top: 20px;
}
@media screen and (min-width: 1000px) {
  .menu__item:nth-child(1) {
    margin-top: 0px;
  }
}

.menu__link {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration: none;
  transition-duration: 0.25s;
  color: rgb(79, 25, 11);
  font-weight: bold;
  text-align: center;
}
@media screen and (min-width: 1000px) {
  .menu__link {
    width: 11vw;
    border-bottom: none;
    border-right: 3px solid rgb(166, 100, 15);
    font-size: 0.9rem;
    min-height: 50px;
    color: rgb(240, 226, 207);
    padding: 5px 5px;
  }
}
@media screen and (min-width: 1250px) {
  .menu__link {
    padding: 15px 5px;
  }
}

.menu__link:hover {
  background-color: rgb(79, 25, 11);
  color: rgb(240, 226, 207);
}
@media screen and (min-width: 1000px) {
  .menu__link:hover {
    background-color: rgb(240, 226, 207);
    color: rgb(79, 25, 11);
  }
}

.menu__checkbox:checked ~ .menu__list {
  left: 0 !important;
}

.menu__checkbox:checked ~ .menu__toggler {
  position: fixed;
}

.menu__checkbox:checked ~ .menu__toggler .bar:nth-child(1) {
  position: absolute;
  top: 15px;
  z-index: 100;
  background-color: rgb(131, 86, 29);
  transform: rotate(45deg);
  transition: transform 0.4s ease-in-out;
}

.menu__checkbox:checked ~ .menu__toggler .bar:nth-child(2) {
  display: none;
}

.menu__checkbox:checked ~ .menu__toggler .bar:nth-child(3) {
  position: absolute;
  top: 15px;
  z-index: 100;
  background-color: rgb(131, 86, 29);
  transform: rotate(-45deg);
  transition: transform 0.4s ease-in-out;
}

/* O NÁS */
.about__main {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.about__perex-hr {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid rgb(79, 25, 11);
}

.about__perex-hr {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  border: 2px solid rgb(79, 25, 11);
}

.about__section.two {
  margin-top: 5px;
}

.about__image img {
  width: 100%;
  height: 100%;
}

.about__image {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 5px;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
@media screen and (min-width: 1000px) {
  .about__image {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

.img0 {
  grid-row: 1/3;
  grid-column: 1/2;
}

.img1 {
  grid-row: 1/2;
  grid-column: 2/3;
}

.img2 {
  grid-row: 2/3;
  grid-column: 2/3;
}

.img3 {
  grid-row: 1/2;
  grid-column: 3/4;
}

.img4 {
  grid-row: 2/3;
  grid-column: 3/4;
}

.img5 {
  grid-row: 1/2;
  grid-column: 1/2;
}

.img6 {
  grid-row: 2/3;
  grid-column: 1/2;
}

.img7 {
  grid-row: 1/2;
  grid-column: 2/3;
}

.img8 {
  grid-row: 2/3;
  grid-column: 2/3;
}

.img9 {
  grid-row: 1/3;
  grid-column: 3/4;
}

.events__perex-hr {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid rgb(79, 25, 11);
}

.events_main-listEvents-ImgWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
@media screen and (min-width: 1000px) {
  .events_main-listEvents-ImgWrapper {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

.events_main-listEvents-mainImg {
  grid-column: 1/3;
  grid-row: 1/3;
}

.events_main-listEvents-mainImg img {
  width: 100%;
}

.events_main-listEvents-Img img {
  width: 100%;
}

.events_main-listEvents-Img.one {
  grid-column: 3/4;
  grid-row: 1/2;
}

.events_main-listEvents-Img.two {
  grid-column: 3/4;
  grid-row: 2/3;
}

.events_main-listEvents-Img.three {
  grid-column: 1/2;
  grid-row: 3/4;
}

.events_main-listEvents-Img.four {
  grid-column: 2/3;
  grid-row: 3/4;
}

.events_main-listEvents-Img.five {
  grid-column: 3/4;
  grid-row: 3/4;
}

/*BOOKING*/
.booking__main {
  display: grid;
  gap: 10px;
}
@media screen and (min-width: 1000px) {
  .booking__main {
    grid-template-columns: 5% 1fr 1fr 5%;
  }
}

@media screen and (min-width: 1000px) {
  .booking__perex {
    grid-column: 2/4;
    margin-bottom: 20px;
  }
}

.booking__perex-hr {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid rgb(79, 25, 11);
}

@media screen and (min-width: 1000px) {
  .booking__info {
    grid-column: 2/3;
  }
}

.booking__photo {
  display: none;
}
@media screen and (min-width: 1000px) {
  .booking__photo {
    display: inline-block;
    width: 90%;
    border-radius: 10px;
    margin-top: 20px;
    border: 5px solid rgb(123, 74, 11);
  }
}

.form {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1000px) {
  .booking__form {
    grid-column: 3/4;
  }
}

.booking__form div:nth-child(2n) {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form.timeDate {
  width: auto;
}
@media screen and (min-width: 700px) {
  .form.timeDate {
    display: flex;
    justify-items: center;
    width: 70%;
  }
}

.form.timeDate div:nth-child(2) {
  margin-top: 0;
  margin-bottom: 0;
}

.form input,
.form textarea {
  width: 100%;
  border: 2px solid rgb(79, 25, 11);
  border-radius: 10px;
  font-size: 16px;
  padding: 5px 10px;
  background-color: rgb(247, 219, 181);
}
@media screen and (min-width: 700px) {
  .form input,
.form textarea {
    flex: 1 1 100%;
  }
}

.form input:focus,
.form textarea:focus {
  outline: 0;
  border: 2px solid rgb(79, 25, 11);
}

/* .form input:placeholder-shown {background-color:bisque;}*/
.form input:not(:-moz-placeholder-shown):valid {
  background-color: rgb(217, 232, 237);
}
.form input:not(:-ms-input-placeholder):valid {
  background-color: rgb(217, 232, 237);
}
.form input:not(:placeholder-shown):valid {
  background-color: rgb(217, 232, 237);
}

.required {
  color: red;
  margin: 0;
  display: inline-block;
}

.booking-button {
  color: rgb(247, 219, 181);
  border: 5px solid rgb(79, 25, 11);
  background-color: rgb(131, 86, 29);
  padding: 10px;
  border-radius: 10px;
  font-size: 1em;
}

.booking-button:hover {
  background-color: rgb(79, 25, 11);
  border: 5px solid rgb(131, 86, 29);
}

.booking-button:active {
  background-color: rgb(247, 219, 181);
  border: 5px solid rgb(131, 86, 29);
  color: rgb(79, 25, 11);
}

/*MENU LIST*/
.carte__perex-hr {
  width: 80%;
  border: 2px solid rgb(79, 25, 11);
}

.carte__perex-hr:nth-child(3) {
  margin-bottom: 40px;
}

.menu__drink {
  cursor: pointer;
}
@media screen and (min-width: 700px) {
  .menu__drink {
    display: flex;
  }
}

@media screen and (min-width: 700px) {
  .menu__food {
    display: flex;
  }
}

.carte__buttons-drink,
.carte__buttons-food {
  background-color: rgb(79, 25, 11);
  color: rgb(240, 226, 207);
  padding: 10px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
}
@media screen and (min-width: 700px) {
  .carte__buttons-drink,
.carte__buttons-food {
    padding: 30px;
    max-width: auto;
  }
}

.carte__buttons-food {
  margin-top: 20px;
}

.carte__drink {
  display: none;
}
@media screen and (min-width: 700px) {
  .carte__drink {
    display: inline-block;
  }
}
@media screen and (min-width: 1200px) {
  .carte__drink {
    display: grid;
    grid-column: 1fr 1fr;
  }
}

.carte__drink-list {
  display: none;
}
@media screen and (min-width: 700px) {
  .carte__drink-list {
    text-align: left;
    margin-left: 35px;
  }
}
@media screen and (min-width: 1200px) {
  .carte__drink-list {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .carte__drink-list {
    grid-column: 2/3;
    grid-row: 1/8;
  }
}

.carte__drink-list.shown {
  display: inline-block;
}

.carte__drink-header-shown {
  display: inline-block;
}

.carte__drink-header-list {
  width: 310px;
  padding: 15px;
}
@media screen and (min-width: 700px) {
  .carte__drink-header-list {
    text-align: left;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .carte__drink-header-list {
    grid-column: 1/2;
  }
}

.carte__drink-header-list:hover {
  background-color: rgb(79, 25, 11);
  color: rgb(240, 226, 207);
  border-radius: 1px;
}

.carte__food {
  display: none;
}
@media screen and (min-width: 700px) {
  .carte__food {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: auto;
    margin-left: 20px;
  }
}

/*CATERING*/
.catering__perex-hr {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid rgb(79, 25, 11);
}

.catering__perex-hr:nth-child(3) {
  margin-bottom: 40px;
}

.catering__pricing {
  background-image: url("../images/background-img/korytko-640.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media screen and (min-width: 750px) {
  .catering__pricing {
    height: 300px;
  }
}
@media screen and (min-width: 1000px) {
  .catering__pricing {
    grid-column: 2/8;
  }
}

@media screen and (min-width: 750px) {
  .catering__pricing-size {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.pricing-size {
  display: flex;
  justify-content: center;
  position: relative;
}
@media screen and (min-width: 750px) {
  .pricing-size {
    margin-top: 50px;
  }
}

.size {
  color: rgb(79, 25, 11);
  padding-top: 33px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid rgb(79, 25, 11);
  background-color: rgb(240, 226, 207);
  font-weight: bold;
  position: absolute;
  transform: translate(-80%, 30%);
}
@media screen and (min-width: 750px) {
  .size {
    transform: translateY(-50%);
  }
}

.size-small__description {
  background-color: rgba(240, 226, 207, 0.8);
  padding: 10px;
  border: 5px solid rgb(79, 25, 11);
  border-radius: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 20px;
  width: 200px;
  text-align: right;
}
@media screen and (min-width: 750px) {
  .size-small__description {
    width: 150px;
    padding-top: 50px;
    padding-right: 10px;
    text-align: center;
  }
}
@media screen and (min-width: 1000px) {
  .size-small__description {
    width: 200px;
  }
}

@media screen and (min-width: 1000px) {
  .catering__contact {
    grid-column: 2/8;
  }
}
.catering__contact__contact > a {
  text-decoration: none;
  color: rgb(79, 25, 11);
}

.catering__contacts {
  display: block;
}
@media screen and (min-width: 1000px) {
  .catering__contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 55px;
  }
}

.contacts__type:nth-last-child(2) {
  margin-left: 20px;
  margin-right: 20px;
}

.contacts__type-email {
  margin-left: -10px;
}

.list__list.second {
  display: none;
}

.list__list,
.list__list-two {
  list-style: none;
  padding-left: 0;
}

.list__showhide {
  text-decoration: underline;
}/*# sourceMappingURL=style-other.css.map */