@charset "UTF-8";
*, :after, :before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(240, 226, 207);
  color: rgb(79, 25, 11);
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  text-align: center;
}

h2 {
  font-family: "Courgette", cursive;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/IMG_0430up.jpg); /*nastavit fotky pro breakpointy*/
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
@media screen and (min-width: 451px) {
  header {
    background-image: url(../images/IMG_0430up.jpg);
  }
}

.header__container {
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  width: 50%;
  aspect-ratio: 1;
  border-radius: 60%;
  text-align: center;
  border: 3px solid burlywood;
}
@media screen and (max-height: 450px) {
  .header__container {
    width: 35%;
  }
}
@media screen and (min-width: 600px) {
  .header__container {
    width: 40%;
  }
}
@media screen and (min-width: 600px) and (max-height: 450px) {
  .header__container {
    width: 25%;
  }
}
@media screen and (min-width: 1000px) {
  .header__container {
    width: 30%;
  }
}
@media screen and (min-width: 1000px) and (max-height: 450px) {
  .header__container {
    width: 20%;
  }
}

.header__text {
  color: rgb(240, 226, 207);
  font-size: 6vw; /* 10vw responziv písmo Viewport is the browser window size. 1vw = 1% of viewport width. If the viewport is 50cm wide, 1vw is 0.5cm.*/
  font-family: "Courgette", cursive;
}
@media screen and (min-width: 1000px) {
  .header__text {
    font-size: 4vw;
  }
}
@media screen and (max-height: 450px) {
  .header__text {
    font-size: 4vw;
  }
}

.header__arrow {
  position: absolute;
  bottom: 20px;
}
@media screen and (max-height: 450px) {
  .header__arrow {
    bottom: 5px;
    width: 25px;
    height: 30px;
  }
}

.header__menu {
  position: absolute;
  left: 8%;
  top: 5%;
  z-index: 2;
  height: 60px;
  opacity: 0.95;
}

.menu__header {
  color: rgb(240, 226, 207);
  margin-bottom: 0;
  margin-left: -2px;
  font-size: 1rem;
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
}

.menu__toggler {
  position: -webkit-sticky;
  position: sticky;
  cursor: pointer;
  z-index: 1;
}
@media screen and (min-width: 1000px) {
  .menu__toggler {
    display: none;
  }
}

.bar {
  display: block;
  width: 40px;
  height: 5px;
  background-color: rgb(240, 226, 207);
  border-radius: 10%;
  margin-top: 10px;
}

.bar:nth-child(2) {
  margin-top: 12px;
  margin-bottom: 12px;
}

.menu__list {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: rgb(240, 226, 207);
  transition-duration: 0.25s;
  overflow: auto;
}
@media screen and (min-width: 1000px) {
  .menu__list {
    display: flex !important;
    justify-content: center;
    position: absolute;
    background-color: transparent;
    height: auto;
    transform: translate(-8%, -40%);
  }
}

@media screen and (min-width: 1000px) {
  .menu__item {
    width: 15vw;
    border-bottom: none;
    border-right: 1px solid rgb(166, 100, 15);
    font-size: 0.9rem;
  }
}

/* .menu__item.active { 
   background-color: yellow;} eleventy */
.menu__link {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration: none;
  transition-duration: 0.25s;
  color: rgb(79, 25, 11);
  font-weight: bold;
  text-align: center;
}
@media screen and (min-width: 1000px) {
  .menu__link {
    color: rgb(240, 226, 207);
    padding: 15px 10px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
  }
}

.menu__link:hover {
  background-color: rgb(79, 25, 11);
  color: rgb(240, 226, 207);
}
@media screen and (min-width: 1000px) {
  .menu__link:hover {
    background-color: rgb(240, 226, 207);
    color: rgb(79, 25, 11);
  }
}

.menu__checkbox:checked ~ .menu__list {
  left: 0 !important;
}

.menu__checkbox:checked ~ .menu__toggler {
  position: fixed;
}

.menu__checkbox:checked ~ .menu__toggler .bar:nth-child(1) {
  position: absolute;
  top: 15px;
  z-index: 100;
  background-color: rgb(131, 86, 29);
  transform: rotate(45deg);
  transition: transform 0.4s ease-in-out;
}

.menu__checkbox:checked ~ .menu__toggler .bar:nth-child(2) {
  display: none;
}

.menu__checkbox:checked ~ .menu__toggler .bar:nth-child(3) {
  position: absolute;
  top: 15px;
  z-index: 100;
  background-color: rgb(131, 86, 29);
  transform: rotate(-45deg);
  transition: transform 0.4s ease-in-out;
}

/* MAIN */
.section {
  padding: 15px;
}

.section:nth-child(even),
.footer {
  background-color: rgb(166, 100, 15);
  color: rgb(240, 226, 207);
}

div[class^=section-first] > h2 {
  font-family: "Courgette", cursive;
} /*vymazat?*/
/* Section first */
.section-first__why {
  text-align: center;
}
@media screen and (min-width: 1000px) {
  .section-first__why {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Section second - Aktuality Akce */
.section.two {
  position: relative;
  font-weight: bold;
  border-style: outset;
  border-color: rgb(221, 128, 6);
  border-width: 10px;
}

.section-two__content {
  background-image: url(../images/slider-bc-food.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
  padding: 20px;
  text-align: center;
  width: 100%;
  height: 420px;
}

.section-two__content-two {
  background-image: url(../images/Slider_bc_beer.jpeg); /*zmenit výšku u samotných fotek, u mobilu nesedí kvůli obsahu */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
  padding: 20px;
  text-align: center;
  width: 100%;
  height: 420px;
}

.section-two__content_bc-color {
  width: 60%;
  margin-left: 50px;
  padding: 10px;
}
@media screen and (min-width: 500px) {
  .section-two__content_bc-color {
    margin-top: 30px;
  }
}
@media screen and (min-width: 800px) {
  .section-two__content_bc-color {
    margin-top: 40px;
    font-size: 1.3em;
  }
}

.section-two__link {
  font-weight: normal;
  position: absolute;
  bottom: 15%;
  transform: translateX(-45%);
}

.section-two__link-span {
  color: rgb(240, 226, 207);
}

/* Section three - Rezervace */
.section.three {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
@media screen and (min-width: 600px) {
  .section.three {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 600px) {
  .section-three__info {
    text-align: left;
    width: 50%;
    margin-left: 20px;
    order: 2;
  }
}

.section-three__images {
  margin-top: 50px;
  margin-bottom: 50px;
}
@media screen and (min-width: 600px) {
  .section-three__images {
    width: 50%;
  }
}

.section-three__images img {
  width: 250px;
}
@media screen and (min-width: 1000px) {
  .section-three__images img {
    width: 350px;
  }
}

.img1 {
  border: 5px solid rgb(123, 74, 11);
  border-radius: 5%;
}

.img2 {
  position: absolute;
  border: 5px solid rgb(218, 124, 51);
  border-radius: 5%;
  transform: translateX(-100%) rotate(15deg);
}

.img3 {
  position: absolute;
  border: 5px solid rgb(123, 74, 11);
  border-radius: 5%;
  transform: translateX(-100%) rotate(-15deg);
}

.img4 {
  position: absolute;
  border: 5px solid rgb(218, 124, 51);
  border-radius: 5%;
  transform: translateX(-100%);
}

/* BOOKING FORM
.section-three__booking-timedate {display:flex;
        flex-wrap:wrap;}

form { 
    @media screen and (min-width: 900px){
   min-width: 520px;}}

form{
    margin-top: 20px;
    margin-bottom: 15px;}

.form {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right:auto;}

.form label { display:block;}

.form input,
.form textarea {
    width: 100%;
    border: 2px solid $c-header-footer;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px 10px;
    background-color: rgb(242, 238, 232);}

    .form input:focus,
    .form textarea:focus { 
        outline:0;
        border: 2px solid $c-text; }

          .form input:placeholder-shown {background-color:bisque;}
    .form input:not(:placeholder-shown):valid {
        background-color: $c-header-footer;} *změnit


    .required {
        color: red;
        margin:0;
        display:inline-block; }

.booking-button {background-color:$c-header-footer;
color: $c-main;
border:2px solid $c-text;
padding: 10px;
border-radius: 10px;
font-family: 'Montserrat', sans-serif;
font-size: 1.1rem}

.booking-button:hover {background-color:$c-button;}

.booking-button:active {background-color:$c-main;
color: $c-header-footer;} */
/* Section four */
.section.four {
  border-style: outset;
  border-color: rgb(221, 128, 6);
  border-width: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
@media screen and (min-width: 600px) {
  .section.four {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 600px) {
  .section-four__info {
    text-align: right;
    margin-left: 20px;
    width: 50%;
  }
}

.section-four__images {
  order: 1;
  margin-top: 50px;
  margin-bottom: 50px;
}
@media screen and (min-width: 600px) {
  .section-four__images {
    width: 50%;
  }
}

.section-four__images img {
  width: 85%;
  max-width: 320px;
}

.img5 {
  border: 5px solid rgb(123, 74, 11);
  border-radius: 5%;
}

.img6 {
  position: absolute;
  border: 5px solid rgb(218, 124, 51);
  border-radius: 5%;
  transform: translateX(-100%);
  width: 190px;
}

.img7 {
  position: absolute;
  border: 5px solid rgb(123, 74, 11);
  border-radius: 5%;
  transform: translateX(-100%) rotate(-15deg);
}

.img8 {
  position: absolute;
  border: 5px solid rgb(218, 124, 51);
  border-radius: 5%;
  transform: translateX(-100%) rotate(-15deg);
  width: 190px;
}

/* Section five */
.section.five {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 600px) {
  .section.five {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 600px) {
  .section-five__info {
    text-align: left;
    margin-right: 20px;
    width: 50%;
    order: 2;
  }
}

.section-five__images {
  margin-top: 50px;
  margin-bottom: 50px;
}
@media screen and (min-width: 600px) {
  .section-five__images {
    width: 50%;
  }
}

.section-five__images img {
  width: 250px;
}
@media screen and (min-width: 1000px) {
  .section-five__images img {
    width: 350px;
  }
}

.img10 {
  border: 5px solid rgb(123, 74, 11);
  border-radius: 5%;
}

.img11 {
  position: absolute;
  border: 5px solid rgb(218, 124, 51);
  border-radius: 5%;
  transform: translateX(-100%) rotate(15deg);
}

.img12 {
  position: absolute;
  border: 5px solid rgb(123, 74, 11);
  border-radius: 5%;
  transform: translateX(-100%) rotate(-15deg);
}

.img13 {
  position: absolute;
  border: 5px solid rgb(218, 124, 51);
  border-radius: 5%;
  transform: translateX(-100%);
}

/* FOOTER */
.footer {
  padding: 30px;
  font-size: 0.8rem;
}

.footer__hr {
  width: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(240, 226, 207);
}
@media screen and (min-width: 1000px) {
  .footer__hr {
    display: none;
  }
}

.footer__wrapper {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 1000px) {
  .footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 15px;
         column-gap: 15px;
    text-align: left;
  }
}

@media screen and (min-width: 1000px) {
  .footer__opening {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

@media screen and (min-width: 600px) {
  .footer__location {
    flex-basis: 33.3333333333%;
  }
}
@media screen and (min-width: 1000px) {
  .footer__location {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}

@media screen and (min-width: 1000px) {
  .footer__location-link {
    display: none;
  }
}

.footer__location-map {
  display: none;
}
@media screen and (min-width: 1000px) {
  .footer__location-map {
    display: inline-block;
    width: 90%;
    height: 95%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    grid-column: 2/3;
    grid-row: 1/6;
  }
}

@media screen and (min-width: 1000px) {
  .footer__contact {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-content: left;
    align-items: left;
  }
}

@media screen and (min-width: 430px) {
  .footer__contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1000px) {
  .footer__contact-wrapper {
    justify-content: left;
  }
}

.footer__contact-tel {
  margin-top: 0px;
  margin-bottom: 0px;
}
@media screen and (min-width: 430px) {
  .footer__contact-tel {
    border-right: 2px solid rgb(240, 226, 207);
    margin-right: 6px;
    padding-right: 6px;
  }
}

.footer__contact-mail {
  margin-top: 0px;
  margin-bottom: 0px;
} /* margin top pro mobil a a href pro email */
@media screen and (min-width: 600px) {
  .footer__payment {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1000px) {
  .footer__payment {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-content: left;
  }
}

@media screen and (min-width: 600px) {
  .footer__payment-type {
    margin-left: 20px;
  }
}

@media screen and (min-width: 1000px) {
  .footer__copyright {
    grid-column: 1/3;
    margin-top: 30px;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */