@charset "UTF-8";
*, :after, :before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(240, 226, 207);
  color: rgb(79, 25, 11);
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

h2 {
  font-family: "Courgette", cursive;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/IMG_0430up.jpg); /*nastavit fotky pro breakpointy*/
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
@media screen and (min-width: 451px) {
  header {
    background-image: url(../images/IMG_0430up.jpg);
  }
}

header::before {
  content: "";
}

.header__container {
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  width: 40%;
  aspect-ratio: 1;
  border-radius: 50%;
  text-align: center;
  border: 3px solid burlywood;
}
.header__text {
  color: rgb(240, 226, 207);
  font-size: 5vw; /* 10vw responziv písmo Viewport is the browser window size. 1vw = 1% of viewport width. If the viewport is 50cm wide, 1vw is 0.5cm.*/
  font-family: "Courgette", cursive;
}
/* MAIN */
.section:nth-child(even) {
  background-color: rgb(166, 100, 15);
  color: rgb(240, 226, 207);
}

div[class^=section-first] > h2 {
  font-family: "Courgette", cursive;
}

/* Section first */
.section.first {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.section-first__why {
  text-align: center;
  flex-basis: 100%;
}
.section-first__opening {
  flex-basis: 50%;
}
@media screen and (min-width: 600px) {
  .section-first__opening {
    flex-basis: 33.3333333333%;
  }
}

.section-first__location {
  flex-basis: 50%;
}
@media screen and (min-width: 600px) {
  .section-first__location {
    flex-basis: 33.3333333333%;
  }
}

.section-first__location-map {
  display: none;
}

.section-first__contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.section-first__contact-header {
  flex-basis: 100%;
  text-align: center;
}

.section-first__contact-tel {
  flex-basis: 45%;
  text-align: right;
  border-right: 2px solid black;
  padding-right: 6px;
  margin-right: 6px;
  margin-top: 0;
}

.section-first__contact-mail {
  flex-basis: 45%;
  text-align: left;
  margin-top: 0;
}

/* Section second */
.section.two {
  background-image: url(../images/events_bc_1024.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 40px;
  text-align: right;
  position: relative;
}

/*
.button {
    position:absolute;
    top: -35%;
    left: 40%;
    color: $c-main;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    padding-top: 35px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 5px solid $c-text;
    background-color: $c-button;
} */
/* FOOTER *//*# sourceMappingURL=style.css.map */