@use 'color';

/* Section first */

.section__first {
    padding-top: 15px;
    padding-bottom: 30px;
}

.section-first__wrapper {
    width:90%;
    max-width:1000px;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 120px;
    margin-left:auto;
    margin-right:auto;
    @media screen and (min-width: 1000px) {width: 60%;}}


.section__first-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    @media screen and (min-width: 1000px) {font-size: 1.3em;}
}

.section-first__link {
    color:color.$c-text;
}