
$c-background:rgb(247, 219, 181); 
$c-header-footer:rgb(166, 100, 15);
$c-main: rgb(240, 226, 207);
$c-text: rgb(79, 25, 11);
$c-button:rgb(131, 86, 29);


/* Section three - Rezervace */


.section.three { 
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 20px;
    margin-top: 20px;
    @media screen and (min-width: 600px) {
    display:flex;
    align-items: center;
    width: 90%;}}

.section-three__info {
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 600px) {
        text-align:left;
        width:50%;
        margin-left: 20px;
        order: 2;}
    @media screen and (min-width: 1000px) {
    font-size: 120%;
    width: 55%;}}
       
.section-three__images {
    margin-top: 50px;
    margin-bottom: 50px;
    @media screen and (min-width: 600px) {
        width: 50%;}
    @media screen and (min-width: 1000px) {
        width: 45%;
        margin-right: 10px;}}

.section-three__images img {width: 250px;
    @media screen and (min-width: 1000px) { width: 350px;
}}

.img00 {
    position: absolute;
    left: -9999px;
}

.img1 {
    border: 5px solid rgb(123, 74, 11);
border-radius: 5%;}

.img2 {position:absolute;
    border: 5px solid rgb(218, 124, 51);
border-radius: 5%;
transform: translateX(-100%) rotate(15deg);}

.img3 {position:absolute;
    border: 5px solid rgb(123, 74, 11);
border-radius: 5%;
transform: translateX(-100%) rotate(-15deg);
}

.img4 {position:absolute;
    border: 5px solid rgb(218, 124, 51);
    border-radius: 5%;
 transform: translateX(-100%);}



