@use 'color';

/* Section five - CATERING */
.section.five {
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 20px;
    margin-top: 20px;
    @media screen and (min-width: 600px) {display:flex;
    align-items: center;}}

.section-five__info {
    @media screen and (min-width: 600px) {
        text-align:left;
        margin-left: 20px;
        width: 50%;
        order: 2;}
    @media screen and (min-width: 1000px) {
        font-size: 120%;
    width: 55%;}}

.section-five__link {
    color:color.$c-text;}

.section-five__images {
    margin-top: 50px;
    margin-bottom: 50px;
    @media screen and (min-width: 600px) {
        width: 50%;}
    @media screen and (min-width: 1000px) {
        font-size: 120%;
        width: 45%;}}

.section-five__images img {width: 250px;
            @media screen and (min-width: 1000px) { width: 350px;
}} // musí být? 

.img10 {
    border: 5px solid rgb(123, 74, 11);
    border-radius: 5%;}

.img11 {position:absolute;
    border: 5px solid rgb(218, 124, 51);
    border-radius: 5%;
    transform: translateX(-100%) rotate(15deg);
    animation-name: photo5;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes photo5 {
    0% {transform: translateX(-100%) }
    100% {transform: translateX(-100%) rotate(15deg)}
  }

.img12 {position:absolute;
    border: 5px solid rgb(123, 74, 11);;
    border-radius: 5%;
    transform: translateX(-100%) rotate(-15deg);
    animation-name: photo6;
    animation-duration: 4s;
    animation-iteration-count: infinite;}

    @keyframes photo6 {
        0% {transform: translateX(-100%) }
        100% {transform: translateX(-100%) rotate(-15deg)}
      }

.img13{position:absolute;
    border: 5px solid rgb(218, 124, 51);
    border-radius: 5%;
    transform: translateX(-100%);}
