@use 'color';

//*AKTUALITY *

.events__news-group:nth-child(odd){
    background-color: color.$c-text;
    color: color.$c-main;
}


.events__news-group {
    padding-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    max-width: 1100px;
    margin: 0px auto;
    margin-bottom: 42px;
    @media screen and (min-width: 700px){
        display:inline-block;
       padding:30px;
    }

}

.events__news-group h3 {
    margin-top:0px;
    margin-bottom:0px;
}

.events_news-group-hide-show-wrapper{
    cursor:pointer;
    padding: 10px;
    @media screen and (min-width: 700px){
        display:none;}
    
}

.events__news-group-img-wrapper{
    @media screen and (min-width: 700px){
    display:flex;
    justify-content: center;
    }
}

.events__news-group--img{
    width:70%;
    @media screen and (min-width: 700px){
        width:240px;
        height:340px;
        }
    @media screen and (min-width: 1000px){
        width:440px;
        height:630px;
                }

}

.events__news-group--img-menu {
    width:70%;
    @media screen and (min-width: 700px){
        width:240px;
        height:340px;
    
        }
    @media screen and (min-width:1000px){
        width:440px;
        height:630px;
        
            }
}



.events__news-group-display {
    @media screen and (min-width: 700px){
        display:none;
    } 
}







.events__news-group.leaflets-wrapper {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 0.3fr 0.3fr;
    row-gap: 5px;
    column-gap: 5px;
    padding-bottom: 30px;
    padding-left:10px;
    padding-right:10px;
    @media screen and (min-width: 1000px){
        grid-template-columns:2fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-left: auto;
        margin-right:auto;
        padding-left:30px;
        padding-right:30px;
        padding-top: 40px;
        
    }   
}

.events__leaflets-img img {
    width:100%;
    height:100%;
}

.events__leaflets-img.main {
   grid-column: 1 / 4;
   grid-row: 1 / 2;
   @media screen and (min-width: 1000px){
    grid-column:1 / 2;
    grid-row: 1/3;
   }
}

.events__leaflets-img.zero {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    @media screen and (min-width: 1000px){
        grid-column:2 / 3;
        grid-row: 1/2;
       }
    }

 
.events__leaflets-img.one{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    @media screen and (min-width: 1000px){
        grid-column:3 / 4;
        grid-row: 1/2;
       }
}

.events__leaflets-img.two{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    @media screen and (min-width: 1000px){
        grid-column:4 / 5;
        grid-row: 1/2;
       }
}

.events__leaflets-img.three{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    @media screen and (min-width: 1000px){
        grid-column:2 / 3;
        grid-row: 2/3;
       }
}

.events__leaflets-img.four{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    @media screen and (min-width: 1000px){
        grid-column:3 / 4;
        grid-row: 2/3;
       }
}

.events__leaflets-img.five{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    @media screen and (min-width: 1000px){
        grid-column:4 / 5;
        grid-row: 2/3;
       }
}




.hidden {
    display:none;
    @media screen and (min-width: 700px){
        display:block;}

}

.hidden-button {
    display:none;
}
