@use 'color';

//*AKTUALITY *


.events__leaflets-wrapper {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top:42px;
    margin-bottom:42px;
    @media screen and (min-width: 1000px){
        width:60%;
        margin-left: auto;
        margin-right:auto;
    }
    
}


.events__leaflets-mainImg {
   grid-column: 1 / 3;
   grid-row: 1 / 3;
}

.events__leaflets-mainImg img {
    width:100%;
    height:100%;
}

.events__leaflets-img img {
  width:100%;
  height:100%;
}

.events__leaflets-img.one{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.events__leaflets-img.two{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.events__leaflets-img.three{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.events__leaflets-img.four{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.events__leaflets-img.five{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}




