@use 'color';

//border radius 5px

/*MENU LIST*/


.menu__drink {
    cursor:pointer;
    @media screen and (min-width: 700px) {
        display: flex;
        margin-top: 42px;
        margin-bottom: 42px;
     }
}

.menu__food {
    @media screen and (min-width: 700px) {
        display: flex;
        margin-top: 42px;
        margin-bottom: 42px;
        }
}

.carte__buttons-drink,
.carte__buttons-food {background-color: color.$c-text;
color: color.$c-main;
padding: 10px;
padding-top: 20px;
margin-left: auto;
margin-right:auto;
max-width:320px;
border-radius: 5px;
    @media screen and (min-width: 700px) {
    padding: 30px;
    max-width:auto;
   
}
}

.carte__buttons-food{
    margin-top:20px;
}

.carte__buttons-img {
    border-radius: 5px;
}

.carte__drink {
    display:none;
    
   
   
    // transform: translateY(1%);
   // animation-name: drinkPhoto;
    //animation-duration: 2s;
   // animation-iteration-count:initial;

   // @keyframes drinkPhoto {
      //  0% {transform: translateY(-5%);
      //  }
      //  100% {transform: translateY(1%) }
     // }
    
    @media screen and (min-width: 700px) {
        display:inline-block;
        flex:1 1 80%;
    }

    @media screen and (min-width:1200px) {
        display:grid;
        grid-template-columns: 2fr 4fr;
       
    }
    }

.carte__drink-wrapper{
    @media screen and (min-width: 700px) {
        flex:1 1;
       
    } 
}


.carte__drink-list {
    display:none;
    @media screen and (min-width: 700px) {
        text-align: left;
        margin-left: 35px;  
    }

    @media screen and (min-width: 1200px) {
        text-align: left;  
    }

    @media screen and (min-width: 1200px) {
        grid-column: 2 / 3;
        grid-row: 1 / 12;
       
    }      
}

.carte__drink-list p {
    margin-top: 10px;
    margin-bottom:10px;
}


.carte__drink-list.shown {
    display:block;
    
    @media screen and (min-width: 700px) {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        column-gap:15px;
        max-height: 550px;}
}

.carte__drink-header-shown {
    display:inline-block;
}

.carte__drink-header-list {
    padding:15px;
    @media screen and (min-width: 700px) {
        text-align: left;
        margin-left: 20px;
        margin-top:0;
        margin-bottom:0;
        
    }
    @media screen and (min-width: 1200px) {
        grid-column: 1 / 2;  
        padding:0;
        height:75px;
        padding-left:15px;
        display:flex;
        flex-direction: row;
        align-items: center;
        


        
    }
}

.carte__drink-header-list:hover {
    background-color: rgb(79, 25, 11) ;
    color: rgb(240, 226, 207);
    border-radius:1px;
    
}





.carte__food{
    display:none; 
   // transform: translateY(1%);
   // animation-name: foodPhoto;
   // animation-duration: 2s;
   // animation-iteration-count: initial;

   // @keyframes foodPhoto {
    //    0% {transform: translateY(-5%) }
    //    100% {transform: translateY(1%) }
    //  }
    

    
    @media screen and (min-width: 700px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        width:auto;
        margin-left:20px;
    }

}

 
