$c-background:rgb(247, 219, 181); 
$c-header-footer:rgb(166, 100, 15);
$c-main: rgb(240, 226, 207);
$c-text: rgb(79, 25, 11);
$c-button:rgb(131, 86, 29);

*, :after, :before { box-sizing: border-box; }

body {margin: 0;
    padding: 0;
    background-color: $c-main;
    color: $c-text;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem; 
    text-align:center;}
    
    h2 {font-family: 'Courgette', cursive;}
    


/* HEADER */

header {
    background-image: url(../images/IMG_0430up.jpg); /*nastavit fotky pro breakpointy*/
    height:350px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    
    @media screen and (min-width: 451px) {
        background-image: url(../images/IMG_0430up.jpg); } }

 .header__wrapper { 
    padding: 80px 30px;

    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0,0,0, 0.4);
    height: 100px;
}   
 
.header__name { 
display: flex;
justify-content: right;
align-items: center;


}   
    
 .header__name-text {
    text-align:right;
    color: $c-main;
    margin-right: 15px;
    font-family: 'Courgette', cursive;
    font-size: 6vw;
    @media screen and (min-width: 450px) {
        font-size: 4vw;}
    @media screen and (min-width: 1000px) {
            font-size: 3vw;}


 }
        
 .header__name-logo {width: 30%;}


//Header - Hamburger menu//      
    
    .header__menu { 
        position:relative;
        left: 0%;
        top: 0%;
        z-index: 2;
        height: 30px;
        opacity: 0.95;
    }
    
    .menu__header {color:$c-main;
    margin-bottom:0;
    margin-left: -2px;
    font-size: 1rem;}
    
    .menu__checkbox {
          position: absolute;
          left: -9999px;}
    
    .menu__toggler { 
        position: sticky;
        cursor: pointer;
        z-index: 1;
        @media screen and (min-width: 1000px) {display:none;}}

.menu__bars {margin-top: -10px;}
    
    .bar { 
    display: block;
    width: 40px;
    height: 5px;
    background-color: $c-main;
    border-radius: 10%;}
    
    .bar:nth-child(2) {
    margin-top: 12px;
    margin-bottom: 12px;}
    
    .menu__list {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: $c-main;
    transition-duration: .25s;
    overflow: auto;
        @media screen and (min-width: 1000px) {display:flex !important;
        justify-content: left;
        position:absolute; 
        background-color: transparent;
        height: auto;
        transform:translate(-2%, -55%);
    }}
    
    .menu__item {
        @media screen and (min-width: 1000px) {
    
            width: 11vw;
            border-bottom:none;
            border-right: 3px solid $c-header-footer;
            font-size: 0.9rem;
    }}

    .menu__item:nth-child(1) { margin-top: 20px;
        @media screen and (min-width: 1000px) {margin-top: 0px;
    }}
    
       /* .menu__item.active { 
          background-color: yellow;} eleventy */
      
    .menu__link {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    text-decoration: none;
    transition-duration: .25s;
    color: $c-text;
    font-weight: bold;
    text-align: center;
        @media screen and (min-width: 1000px){
            color:$c-main;
            padding: 5px 5px;
            height: 100%;}}
    
    .menu__link:hover {
    background-color:$c-text; 
    color: $c-main;
        @media screen and (min-width: 1000px){
        background-color:$c-main;
        color: $c-text; }} // hover na menu__link nebo na menu item?
       
    .menu__checkbox:checked ~ .menu__list{
      // display:block;
    left:0 !important;}
    
    .menu__checkbox:checked ~ .menu__toggler {position:fixed;}
      
    .menu__checkbox:checked ~ .menu__toggler .bar:nth-child(1) {
        position:absolute;
        top: 15px;
        z-index:100;
        background-color: $c-button;
        transform:rotate(45deg);
        transition: transform 0.4s ease-in-out; }
      
    .menu__checkbox:checked ~ .menu__toggler .bar:nth-child(2) {display:none;}
      
    .menu__checkbox:checked ~ .menu__toggler .bar:nth-child(3) {
        position:absolute;
        top: 15px;
        z-index:100;
        background-color: $c-button;
        transform:rotate(-45deg);
        transition: transform 0.4s ease-in-out;}

/*MENU LIST*/

.carte_main { padding: 20px;}

.carte__perex-hr {
    width: 80%;
    margin-right:auto;
    margin-left:auto;
    border: 2px solid $c-text;
}
.carte__perex-hr:nth-child(3) {
    margin-bottom: 40px;
}

/*
.carte__buttons {
    @media screen and (min-width: 700px) {
display:flex;
justify-content: space-evenly;
padding: 10px;} }
*/

.carte__buttons-img {height: 80%;}

.carte__buttons-drink {background-color: $c-text;
color: $c-main;
padding: 10px;
margin-top: 20px;
padding-top: 20px;
max-width:320px;
margin-left:auto;
margin-right:auto;
    @media screen and (min-width: 700px) {
    padding: 30px;
}

}
.carte__buttons-food {background-color: $c-text;
    color: $c-main;
padding: 10px;
margin-top: 20px;
padding-top: 20px;
max-width:320px;
margin-left:auto;
margin-right:auto;
@media screen and (min-width: 700px) {
    padding: 30px;
}
}


#carte__drink {
    display:none;
    @media screen and (min-width: 700px) {
        display: inline-block;
    }
}

#carte__food{
    display:none; 
    @media screen and (min-width: 700px) {
        display: inline-block;
    }
}


.carte__drink {width:90%;
margin-left: auto;
margin-right: auto;}

/*
.carte__drink p {
    display:inline-block;
} */






.carte__drink-price {}

        
/*CATERING*/

.catering__main { width: 90%;
margin-left:auto;
margin-right:auto;
margin-top: 50px;
margin-bottom: 50px;}

.catering__perex-hr {
    width: 80%;
    margin-right:auto;
    margin-left:auto;
    border: 2px solid $c-text;
}
.catering__perex-hr:nth-child(3) {
    margin-bottom: 40px;
}

.catering__images img {
    display:none;
    border-radius: 50%;
}

.catering__pricing {
    @media screen and (min-width: 1000px) {
    grid-column:  2 / 8;}}

    .catering__pricing-size {
        @media screen and (min-width: 750px) {
        display:flex;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }}
    
    .pricing-size {
        display:flex; 
        justify-content: center;}
    
    .pricing-size:nth-child(2) {
        margin-left: 20px;
        margin-right: 20px;}
    
    .size { 
        color: $c-text;
        padding-top: 28px;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border: 5px solid $c-text;
        background-color: $c-main;
        font-weight: bold;}
    


.catering__contact { 
    @media screen and (min-width: 1000px) {
    grid-column: 2 / 8;}

    &__contact > a {
    text-decoration: none;
    color:$c-text;
    }}
    
.catering__contacts {
    display:block;
    
    @media screen and (min-width: 1000px) {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 55px;
    }}
    
.contacts__type:nth-last-child(2){
    margin-left: 20px;
    margin-right: 20px;}


    

/* FOOTER */
.footer {
    padding: 30px;
    font-size: 0.8rem;
    text-align:center; //přidáno
    background-color: $c-header-footer;
    color: $c-main;
    }
    
    .footer__hr { width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $c-main;
    @media screen and (min-width: 1000px) {display:none;
    }}
    
    .footer__wrapper { width: 90%;
        margin-right: auto;
        margin-left: auto;
        @media screen and (min-width: 1000px) {display:grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 15px;
            text-align: left;}}
    
    .footer__opening {
        @media screen and (min-width: 1000px)  {grid-column: 1 / 2;
        grid-row: 2 / 3; }}
    
    .footer__location {
        @media screen and (min-width: 600px) {flex-basis: calc(100%/3)}
        @media screen and (min-width: 1000px)  {grid-column: 1 / 2;
            grid-row: 4 / 5; }}
    
            .footer__location-link {
                @media screen and (min-width: 1000px) {display:none;}}
                
    .footer__location-map {display:none;
        @media screen and (min-width: 1000px) {display:inline-block;
            width: 90%;
            height:95%;
            margin-right: auto;
            margin-left: auto;
            margin-top: 10px;
        grid-column: 2 / 3;
        grid-row: 1 / 6;}}
    
    .footer__contact {
        @media screen and (min-width: 1000px)  {grid-column: 1 / 2;
            grid-row: 3 / 4;
            justify-content: left;
            align-items: left; }}
    
            .footer__contact-wrapper {
                @media screen and (min-width: 430px) {display:flex;
                justify-content: center;
            align-items: center;}
            @media screen and (min-width: 1000px) {
                justify-content: left; }}
    
            .footer__contact-tel {margin-top: 0px;
                margin-bottom:0px;
                @media screen and (min-width: 430px) { border-right: 2px solid $c-main;
                    margin-right: 6px;
                    padding-right: 6px;
            }}
    
            .footer__contact-mail {
                margin-top: 0px;
                margin-bottom:0px;
            } /* margin top pro mobil a a href pro email */
        
    .footer__payment {
         @media screen and (min-width: 600px) {display:flex;
    align-items: center;
    justify-content: center;}
    @media screen and (min-width: 1000px) {grid-column: 1 / 2;
        grid-row: 1 / 2;
    justify-content: left;}}
        
        .footer__payment-type {
            @media screen and (min-width: 600px){margin-left: 20px;}}

    .footer__media {
        display:flex;
        justify-content: center;
        @media screen and (min-width: 1000px)  {
            justify-content: left;
        }
    }

    .footer__media a {
        margin-left: 10px;
    }
    
    .footer__copyright {
        @media screen and (min-width: 1000px)  {grid-column: 1 / 3;
        margin-top: 30px;
    text-align: center;}}