@use 'color';
@use 'footer';


*, :after, :before { box-sizing: border-box; }

body {margin: 0;
    padding: 0;
    background-color: color.$c-main;
    color: color.$c-text;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem; 
    text-align:center;}
    
// h2 {font-family: 'Courgette', cursive;}
    
.footer {background-color: color.$c-header-footer;
        color: color.$c-main;}

main {
    padding: 40px 15px;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
}

main > div,
main > section {
    max-width: 1500px;
    margin-left:auto;
    margin-right:auto;
}

section a,
a{color:color.$c-text;}

.menu__item.active {
    background-color:color.$c-button; 
}

.menu__link.active {
    color:color.$c-main;
}

/* HEADER */

header {
    background-image: url(../images/IMG_0430up.jpg); /*nastavit fotky pro breakpointy*/
    height:350px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    
    @media screen and (min-width: 451px) {
        background-image: url(../images/IMG_0430up.jpg); } }

 .header__wrapper { 
    padding: 80px 30px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0,0,0, 0.4);
    height: 100px;
}   
 
.header__name { 
display: flex;
justify-content: right;
align-items: center;
}   
    
 .header__name-text {
    text-align:right;
    color: color.$c-main;
    margin-right: 35px;
    font-family: 'Courgette', cursive;
    font-size: 6vw;
    @media screen and (min-width: 450px) {
        font-size: 4vw;}
    @media screen and (min-width: 1000px) {
            font-size: 3vw;}


 }
        
 .header__name-logo {width: 30%;}


//Header - Hamburger menu//      
.header__menu { 
    position:relative;
    left: 0%;
    top: 0%;
    z-index: 2;
    height: 30px;
    opacity: 0.95;
    }
    
.menu__header {color:color.$c-main;
    margin-bottom:0;
    margin-left: -2px;
    font-size: 1rem;}
    
.menu__checkbox {
    position: absolute;
    left: -9999px;}
    
.menu__toggler { 
    position: sticky;
    cursor: pointer;
    z-index: 1;
    @media screen and (min-width: 1000px) {display:none;}}

.menu__bars {margin-top: -10px;}
    
.bar { 
    display: block;
    width: 40px;
    height: 5px;
    background-color: color.$c-main;
    border-radius: 10%;}
    
.bar:nth-child(2) {
    margin-top: 12px;
    margin-bottom: 12px;}
    
.menu__list {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: color.$c-main;
    transition-duration: .25s;
    overflow: auto;
        @media screen and (min-width: 1000px) {display:flex !important;
        position:absolute; 
        background-color: transparent;
        height: auto;
        transform:translate(-2%, -55%);  
    }}
    

.menu__item:nth-child(1) { margin-top: 20px;
        @media screen and (min-width: 1000px) {margin-top: 0px;
    }}
    
      
.menu__link {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    text-decoration: none;
    transition-duration: .25s;
    color: color.$c-text;
    font-weight: bold;
    text-align: center;
        @media screen and (min-width: 1000px){
            width: 11vw;
            border-bottom:none;
            border-right: 3px solid color.$c-header-footer;
            font-size: 0.9rem;
            min-height: 50px;
            color:color.$c-main;
            padding: 5px 5px;
            }}
    
.menu__link:hover {
    background-color:color.$c-text; 
    color:color.$c-main;
        @media screen and (min-width: 1000px){
        background-color:color.$c-main;
        color: color.$c-text; 
    }} 


.menu__checkbox:checked ~ .menu__list{
      // display:block;
    left:0 !important;}
    
.menu__checkbox:checked ~ .menu__toggler {position:fixed;}
      
.menu__checkbox:checked ~ .menu__toggler .bar:nth-child(1) {
        position:absolute;
        top: 15px;
        z-index:100;
        background-color: color.$c-button;
        transform:rotate(45deg);
        transition: transform 0.4s ease-in-out; }
      
.menu__checkbox:checked ~ .menu__toggler .bar:nth-child(2) {display:none;}
      
.menu__checkbox:checked ~ .menu__toggler .bar:nth-child(3) {
        position:absolute;
        top: 15px;
        z-index:100;
        background-color: color.$c-button;
        transform:rotate(-45deg);
        transition: transform 0.4s ease-in-out;}


/* O NÁS */ 
.about__main{width: 90%;
    margin-left:auto;
    margin-right:auto;
    padding-top: 20px;
    padding-bottom: 20px;}

.about__perex-hr { 
    width: 80%;
    margin-right:auto;
    margin-left:auto;
    border: 2px solid color.$c-text;

}

.about__perex-hr { 
    width: 80%;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:20px;
    border: 2px solid color.$c-text;


}


.about__section.one {
    @media screen and (min-width: 1000px) {
        display:flex;
        align-items: center;
    
    }
}

.about__section.one p{
    @media screen and (min-width: 1000px) {
    text-align: left;
    width: 90%;
}}

.about__section.two {
    @media screen and (min-width: 1000px) {
        display:flex;
        flex-direction:row-reverse;
        align-items: center;
       
    
      
    }
}

.about__section.two p{
    @media screen and (min-width: 1000px) {
    text-align: right;
    width: 90%;
}}


.about__main img {
    width: 100%;

}



.about__image {
    padding: 10px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 5px;
    column-gap: 5px;
   
  
  
  
}

.img0 {
    width:95%;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.img1 {
   
    grid-row: 1 / 2; 
    grid-column: 2 / 3;
   
}

.img2 {
   
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    
}

.img3 { 
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

.img4 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.img5 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;

}

.img6{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.img7{
    grid-row: 1 / 2;
    grid-column: 2 / 3;


}

.img8{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.img9{
    width:95%;
    grid-row: 1 / 3;
    grid-column: 3 / 4;
}


.about__main-song {
    width: 40%;
}


//*AKTUALITY *

.events__perex-hr {
    width: 80%;
    margin-right:auto;
    margin-left:auto;
    border: 2px solid color.$c-text;
}
.events_main-listEvents-ImgWrapper {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.events_main-listEvents-mainImg{
   grid-column: 1 / 3;
   grid-row: 1 / 3;
}

.events_main-listEvents-mainImg img {
    width:100%;
}

.events_main-listEvents-Img img {
  width:100%;
}

.events_main-listEvents-Img.one{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.events_main-listEvents-Img.two{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.events_main-listEvents-Img.three{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.events_main-listEvents-Img.four{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.events_main-listEvents-Img.five{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}




/*BOOKING*/
.booking__main {
    display:grid;
    gap: 10px;

    @media screen and (min-width: 1000px){
    grid-template-columns: 5% 1fr 1fr 5%;
    }

}

.booking__perex {
    @media screen and (min-width: 1000px){
    grid-column: 2 / 4;
    margin-bottom: 20px;
}}

.booking__perex-hr { 
    width: 80%;
    margin-right:auto;
    margin-left:auto;
    border: 2px solid color.$c-text;

}

.booking__info{
    @media screen and (min-width: 1000px){
        grid-column: 2/3;
        }
}

.booking__photo {
    display:none;
    @media screen and (min-width: 1000px){
        display:inline-block;
        width: 90%;
        border-radius: 10px;
        margin-top: 20px;
        border: 5px solid rgb(123, 74, 11);
    }
}

.form {
    width: 70%;
    margin-left:auto;
    margin-right:auto;
}

.booking__form{
    @media screen and (min-width: 1000px){
        grid-column: 3 / 4;
    }
}

.booking__form div:nth-child(2n){
    margin-top: 10px;
    margin-bottom: 10px;
}

.form.timeDate {
    width:auto;
    @media screen and (min-width: 700px){
        display:flex;
        justify-items: center;
        width:70%;
        
    }
}


.form.timeDate div:nth-child(2) {
    margin-top: 0;
    margin-bottom: 0;
}
        
.form input,
.form textarea {
    width: 100%;
    border: 2px solid color.$c-text;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px 10px;
    background-color: color.$c-background;
        
    @media screen and (min-width: 700px) {
    flex: 1 1 100%;
          }
    }
      
.form input:focus,
.form textarea:focus { 
    outline:0;
    border: 2px solid color.$c-text; }
        
       /* .form input:placeholder-shown {background-color:bisque;}*/
.form input:not(:placeholder-shown):valid {
    background-color: rgb(217, 232, 237);} 
       
            
.required {
    color: red;
    margin:0;
    display:inline-block;
        }

.booking-button {
    color: color.$c-background;
    border: 5px solid color.$c-text;
    background-color: color.$c-button;
    padding: 10px;
    border-radius: 10px;
    font-size: 1em;}
        
.booking-button:hover {
    background-color:color.$c-text;
    border: 5px solid color.$c-button;}
        
.booking-button:active {
    background-color:color.$c-background;
    border: 5px solid color.$c-button;
    color: color.$c-text;}



/*MENU LIST*/

.carte_main { 
    @media screen and (min-width: 700px) {
        display:grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10%;
    }

    @media screen and (min-width: 1200px) {
        display:inline-block;
    }

}

.menu__perex {
    grid-column: 1 / -1;
}
.carte__perex-hr {
    width: 80%;
    border: 2px solid color.$c-text;
}
.carte__perex-hr:nth-child(3) {
    margin-bottom: 40px;
}

.menu__drink {
    @media screen and (min-width: 1200px) {
        display: flex;
        width: 90%;
    }
}

.menu__food {
    @media screen and (min-width: 1200px) {
        display: flex;
        width: 90%;
        margin-top: 20px;


    }
}

.carte__buttons-drink,
.carte__buttons-food {background-color: color.$c-text;
color: color.$c-main;
padding: 10px;
margin-top: 20px;
padding-top: 20px;
margin-left: auto;
margin-right:auto;
max-width:320px;
    @media screen and (min-width: 700px) {
    padding: 30px;
    max-width:auto;
}
}


.carte__drink {
    display:none;
    transform: translateY(1%);
    animation-name: drinkPhoto;
    animation-duration: 2s;
    animation-iteration-count:initial;

    @keyframes drinkPhoto {
        0% {transform: translateY(-5%);
        }
        100% {transform: translateY(1%) }
      }
    
    @media screen and (min-width: 700px) {
        display:inline-block;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-grow:1;
        margin-left: 40px;
        text-align: left;
     } }


.carte__drink div {
    flex-grow: 1;
}

.carte__drink div:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;   
}

.carte__food{
    display:none; 
    transform: translateY(1%);
    animation-name: foodPhoto;
    animation-duration: 2s;
    animation-iteration-count: initial;

    @keyframes foodPhoto {
        0% {transform: translateY(-5%) }
        100% {transform: translateY(1%) }
      }
    

    @media screen and (min-width: 700px) {
        display:inline-block;
        width:280px
    }
    @media screen and (min-width: 1200px) {
        display: inline-block;
        margin-left: 40px;
        text-align: left;
        width:auto;
    }

}

 
/*CATERING*/



.catering__perex-hr {
    width: 80%;
    margin-right:auto;
    margin-left:auto;
    border: 2px solid color.$c-text;
}
.catering__perex-hr:nth-child(3) {
    margin-bottom: 40px;
}







.catering__pricing {
    background-image: url("../images/mk/korytko-640.png"); //změnit velikost fotky, moc velké, zpomaluje načítaní
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 40px;
    margin-bottom: 40px;
    @media screen and (min-width: 750px) {
        height: 300px;
    }
    @media screen and (min-width: 1000px) {
    grid-column:  2 / 8;}}

    .catering__pricing-size {
        @media screen and (min-width: 750px) {
        display:flex;
        justify-content: space-evenly;
        margin-top: 15px;
        margin-bottom: 15px;
    }}
    
    .pricing-size {
        display:flex; 
        justify-content: center;
        position:relative;
        @media screen and (min-width: 750px) {
        margin-top: 50px;}
    }
    

    
    .size { 
        color: color.$c-text;
        padding-top: 33px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 5px solid color.$c-text;
        background-color: color.$c-main;
        font-weight: bold;
        position:absolute;
        transform:translate(-80%,30%);
        @media screen and (min-width: 750px) {
        transform:translateY(-50%)}}
    
.size-small__description { 
    background-color:rgba(240, 226, 207, 0.8);
    padding: 10px;
    border: 5px solid color.$c-text;
    border-radius: 5% ;
    margin-top: 10px;
    margin-bottom:10px;
    padding-right: 20px;
    width: 200px;
    text-align: right;
    @media screen and (min-width: 750px) {
    width:150px;
    padding-top: 50px;
    padding-right: 10px;
    text-align: center;}
    @media screen and (min-width: 1000px) {
        width:200px;
    }
    
   
   
    
}




.catering__contact { 
    @media screen and (min-width: 1000px) {
    grid-column: 2 / 8;}

    &__contact > a {
    text-decoration: none;
    color:color.$c-text;
    }}
    
.catering__contacts {
    display:block;
    
    @media screen and (min-width: 1000px) {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 55px;
    }}
    
.contacts__type:nth-last-child(2){
    margin-left: 20px;
    margin-right: 20px;}

.contacts__type-email{
    margin-left: -10px;
}


    



.list__list.second {
    display:none;
}

.list__list,
.list__list-two{
    list-style: none;
}

.list__showhide {
    text-decoration: underline;

}