@use 'header';
@use 'color';
@use 'footer';
@use 'booking';
@use 'menu';
@use 'catering';
@use 'events';
@use 'about';

*, :after, :before { box-sizing: border-box;}

body {margin: 0;
padding: 0;
background-color: color.$c-main;
color: color.$c-text;
font-family: 'Montserrat', sans-serif;
font-size: 1.1rem; 
text-align:center;}


h2 {font-family: 'Courgette', cursive;}

/* MAIN */
.section {padding: 15px;}
.section:nth-child(even),
.footer {background-color: color.$c-header-footer;
color: color.$c-main;}







