*, :after, :before { box-sizing: border-box;}

body {margin: 0;
padding: 0;
background-color: rgb(247, 242, 235);
color: rgb(65, 39, 4);}


/* HEADER */
header {
display:flex;
justify-content: center;
align-items: center;
background-image: url(../images/IMG_0430up.jpg); /*nastavit fotky pro breakpointy*/
height: 100vh;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-color: burlywood;

@media screen and (min-width: 451px) {
    background-image: url(../images/IMG_0430up.jpg);    
}}

header::before {
    content: "";}


.header__container { background-color: rgba(0,0,0, 0.6);
position:relative;
display:flex;
padding: 10px;
justify-content: center;
align-items: center;
width: 40%;
aspect-ratio: 1;
border-radius: 50%;
text-align:center;
border: 3px solid burlywood;

@media screen and (min-width: 750px) {}
}

.header__text {color: cornsilk;
    font-size: 5vw; /* 10vw responziv písmo Viewport is the browser window size. 1vw = 1% of viewport width. If the viewport is 50cm wide, 1vw is 0.5cm.*/
    font-family: 'Courgette', cursive;

    @media screen and (min-width: 750px) {}}

/* MAIN */

.section:nth-child(even){background-color: rgb(184, 125, 83);}

/* Section first */
.section.first {
    margin-top: 25px;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;

    @media screen and (min-width: 750px) {}
}
.section-first__why {
    text-align: center;
    flex-basis: 100%;
    @media screen and (min-width: 750px) {}}

.section-first__opening { flex-basis: 50%;
    @media screen and (min-width: 600px) {flex-basis: calc(100%/3)}}
.section-first__location {flex-basis:50%;
    @media screen and (min-width: 600px) {flex-basis: calc(100%/3)}}
.section-first__location-map {display:none;}
.section-first__contact {}

/* Section second */

.section.two {background-color: rgb(184, 125, 83); }

/* FOOTER */