$c-background:rgb(247, 219, 181); 
$c-header-footer:rgb(166, 100, 15);
$c-main: rgb(240, 226, 207);
$c-text: rgb(79, 25, 11);
$c-button:rgb(131, 86, 29);

*, :after, :before { box-sizing: border-box;}

body {margin: 0;
padding: 0;
background-color: $c-main;
color: $c-text;
font-family: 'Montserrat', sans-serif;
font-size: 1.1rem; 
text-align:center;}

h2 {
    font-family: 'Courgette', cursive;
}


/* HEADER */
header {
display:flex;
justify-content: center;
align-items: center;
background-image: url(../images/IMG_0430up_400.jpg); /*nastavit fotky pro breakpointy*/
height: 100vh;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: scroll;


@media screen and (min-width: 451px) {
    background-image: url(../images/IMG_0430up.jpg);    
}}

header::before {
    content: "";}


.header__container {
background-color: rgba(0,0,0, 0.6);
position:relative;
display:flex;
padding: 10px;
justify-content: center;
align-items: center;
width: 40%;
aspect-ratio: 1;
border-radius: 50%;
text-align:center;
border: 3px solid burlywood;

@media screen and (min-width: 750px) {}
}

.header__text {color: $c-main;
    font-size: 6vw; /* 10vw responziv písmo Viewport is the browser window size. 1vw = 1% of viewport width. If the viewport is 50cm wide, 1vw is 0.5cm.*/
    font-family: 'Courgette', cursive;

    @media screen and (min-width: 750px) {}}

/* MAIN */
.section {padding: 15px;}
.section:nth-child(even){background-color: $c-header-footer;
color: $c-main;}
div[class^= "section-first"] > h2 {font-family:'Courgette', cursive;}


/* Section first */
.section.first {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;

    @media screen and (min-width: 750px) {}
}
.section-first__why {
    text-align: center;
    flex-basis: 100%;
    @media screen and (min-width: 750px) {}}

.section-first__opening { flex-basis: 50%;
    @media screen and (min-width: 600px) {flex-basis: calc(100%/3)}}
.section-first__location {flex-basis:50%;
    @media screen and (min-width: 600px) {flex-basis: calc(100%/3)}}
.section-first__location-map {display:none;}
.section-first__contact {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.section-first__contact-header {flex-basis: 100%;
text-align: center;}
.section-first__contact-tel {flex-basis: 45%;
text-align:right;
border-right: 2px solid black;
padding-right: 6px;
margin-right: 6px;
margin-top:0;
}
.section-first__contact-mail {flex-basis: 45%;
text-align: left;
margin-top:0;}

/* Section second */

.section.two {
    background-image: url(../images/events_bc_plate.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 40px;
    height: 400px;
    text-align: right;
   position:relative;
   display:grid;
   grid-template-columns: 1fr 1fr auto 1fr;

   @media screen and (min-width: 450px) { 
    background-image: url(../images/events_bc_1024.jpeg);
    background-size: cover;
    height: 450px;
   }

   
 }

.section-two__content {
    grid-column: 3 / 4;
    background-color: rgba(0,0,0, 0.2);
    padding: 20px;
    height:auto;
    text-align: center;

}
 /*
.button {
    position:absolute;
    top: -35%;
    left: 40%;
    color: $c-main;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    padding-top: 35px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 5px solid $c-text;
    background-color: $c-button;
} */

/* Section three */

.section.three {text-align: center;
    @media screen and (min-width: 600px) {display:grid;
    grid-template-columns: 5% repeat(2, 1fr) 5%;
    column-gap: 5%;
    row-gap: 20px;
    justify-items: center;
    align-items: center;
}}

.section-three__perex {
    @media screen and (min-width: 600px) { grid-column: 2 / -2;}
}

.section-three__bookinginfo {
    @media screen and (min-width: 600px) { grid-column: 2 / 3 };
    margin-bottom: 40px;

 
}

.section-three__booking-timedate {display:flex;}
form{
    margin-bottom: 15px;
}
.form {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right:auto;}

.form label { display:block;}

.form input,
.form textarea {
    width: 100%;
    border: 2px solid $c-header-footer;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px 10px;
    background-color: rgb(242, 238, 232);}

    .form input:focus,
    .form textarea:focus { 
        outline:0;
        border: 2px solid $c-text; }
            
           /* .form input:placeholder-shown {background-color:bisque;}*/
    .form input:not(:placeholder-shown):valid {
        background-color: $c-header-footer;} 
           
                
    .required {
        color: red;
        margin:0;
        display:inline-block;
            }
 
/* Section four */


.section-four__photo {}

/* FOOTER */