$c-background:rgb(247, 219, 181); 
$c-header-footer:rgb(166, 100, 15);
$c-main: rgb(240, 226, 207);
$c-text: rgb(79, 25, 11);
$c-button:rgb(131, 86, 29);

*, :after, :before { box-sizing: border-box;}

body {margin: 0;
padding: 0;
background-color: $c-main;
color: $c-text;
font-family: 'Montserrat', sans-serif;
font-size: 1.1rem; 
text-align:center;}

h2 {
    font-family: 'Courgette', cursive;
}


/* HEADER */
header {
display:flex;
justify-content: center;
align-items: center;
background-image: url(../images/IMG_0430up_400.jpg); /*nastavit fotky pro breakpointy*/
height: 100vh;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: scroll;


@media screen and (min-width: 451px) {
    background-image: url(../images/IMG_0430up.jpg);    
}}

header::before {
    content: "";}


.header__container {
background-color: rgba(0,0,0, 0.6);
position:relative;
display:flex;
padding: 10px;
justify-content: center;
align-items: center;
width: 40%;
aspect-ratio: 1;
border-radius: 50%;
text-align:center;
border: 3px solid burlywood;
}

.header__text {color: $c-main;
    font-size: 6vw; /* 10vw responziv písmo Viewport is the browser window size. 1vw = 1% of viewport width. If the viewport is 50cm wide, 1vw is 0.5cm.*/
    font-family: 'Courgette', cursive;
}

.header__menu {
   display:none;
}

/* MAIN */
.section {padding: 15px;}
.section:nth-child(even),
.footer {background-color: $c-header-footer;
color: $c-main;}
div[class^= "section-first"] > h2 {font-family:'Courgette', cursive;}


/* Section first */
.section.first {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;

    @media screen and (min-width: 750px) {}
}
.section-first__why {
    text-align: center;
    flex-basis: 100%;
    @media screen and (min-width: 750px) {}}

.section-first__opening { flex-basis: 50%;
    @media screen and (min-width: 600px) {flex-basis: calc(100%/3)}}
.section-first__location {flex-basis:50%;
    @media screen and (min-width: 600px) {flex-basis: calc(100%/3)}}
.section-first__location-map {display:none;}
.section-first__contact {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.section-first__contact-header {flex-basis: 100%;
text-align: center;}
.section-first__contact-tel {flex-basis: 45%;
text-align:right;
border-right: 2px solid black;
padding-right: 6px;
margin-right: 6px;
margin-top:0;
}
.section-first__contact-mail {flex-basis: 45%;
text-align: left;
margin-top:0;}

/* Section second - Aktuality Akce */

.section.two {
   position:relative;
font-weight: bold;
color:$c-main;
background-color: $c-header-footer;}


.section-two__content {
    background-image: url(../images/slider-bc-food.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    padding: 20px;
    text-align: center;
    width: 100%;
    min-height: 350px;

@media screen and (min-width: 1250px) {
    min-height: 400px;
}}

.section-two__content-two {
    background-image: url(../images/Slider_bc_beer.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    padding: 20px;
    text-align: center;
    width: 100%;
    min-height: 350px;


    @media screen and (min-width: 1250px) {
        min-height: 400px;
        
    }}

.section-two__content_bc-color {
    width: 60%;
    margin-left: 50px;
    padding: 10px;

    @media screen and (min-width: 1250px) {
        margin-top: 40px;
        font-size: 1.3em;
        
    }}

/* Section three - Rezervace */

.section.three { 
    margin-left:auto;
    margin-right:auto;
    @media screen and (min-width: 600px) {display:flex;
    align-items: center;}}

.section-three__bookinginfo {
    margin-bottom: 20px;
    @media screen and (min-width: 600px) {text-align:left;}}

.section-three__images {
    margin-top: 15px;}

.section-three__images img {width: 25%;
        display:inline-block;}

.section-three__booking-timedate {display:flex;
        flex-wrap:wrap;}


form { 
    @media screen and (min-width: 900px){
   min-width: 520px;}
}

form{
    margin-top: 20px;
    margin-bottom: 15px;
}
.form {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right:auto;}

.form label { display:block;}

.form input,
.form textarea {
    width: 100%;
    border: 2px solid $c-header-footer;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px 10px;
    background-color: rgb(242, 238, 232);}

    .form input:focus,
    .form textarea:focus { 
        outline:0;
        border: 2px solid $c-text; }
            
           /* .form input:placeholder-shown {background-color:bisque;}*/
    .form input:not(:placeholder-shown):valid {
        background-color: $c-header-footer;} /*změnit*/
           
                
    .required {
        color: red;
        margin:0;
        display:inline-block;
            }

.booking-button {background-color:$c-header-footer;
color: $c-main;
border:2px solid $c-text;
padding: 10px;
border-radius: 10px;
font-family: 'Montserrat', sans-serif;
font-size: 1.1rem}

.booking-button:hover {background-color:$c-button;}

.booking-button:active {background-color:$c-main;
color: $c-header-footer;}
 
/* Section four */
.section.four {
    @media screen and (min-width: 600px) {display:flex;
    align-items: center;}
}
.section-four__info {margin-bottom: 20px;
@media screen and (min-width: 600px) {text-align:right;}
}
.section-four__images {order: 1;
margin-top: 15px;}
.section-four__images img {width: 25%;
    display:inline-block;
}

/* Section five */
.section.five {
    @media screen and (min-width: 600px) {display:flex;
    align-items: center;}}

.section-five__info {
    order: 2;
    @media screen and (min-width: 600px) {text-align:left;}}

.section-five__images img {width: 25%;
    display:inline-block;}

/* FOOTER */

.footer {height: 80px;
padding: 30px;}